.headerBG {
  background: #fdfdfd;
  display: flex;
  justify-content: space-between;
}
.block {
  width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.leftBlock {
  display: flex;
  align-items: center;
  background: #fdfdfd;
  padding: 18px 0;
}
.title {
  color: #333153;
  font-size: 24px;
  margin-left: 8px;
}
.rightBlock {
  display: flex;
  align-items: center;
}
.userBlock {
  display: flex;
  align-items: center;
  margin-left: 20px;
  cursor: pointer;
}
.smallImg {
  margin: 0 6px;
  cursor: pointer;
}
.userName {
  margin-left: 8px;
}
@media screen and (max-width: 1400px) {
  .block{
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 800px) {
  .block{
    width: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  .userName{display: none;}
  .smallImg{display: none;}
}
