.headerBG {
  background: #fdfdfd;
  display: flex;
  justify-content: space-between;
}
.block {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.leftBlock {
  display: flex;
  align-items: center;
  background: #fdfdfd;
  padding: 18px 0;
}
.title {
  color: #333153;
  font-size: 24px;
  margin-left: 8px;
}
.rightBlock {
  display: flex;
  align-items: center;
}
.userBlock {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.smallImg {
  margin: 0 6px;
}
.userName {
  margin-left: 8px;
}
