
.section {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.container {
  width: 1400px;
  margin: 0 auto;
  padding: 0 15px;
}
.backLink {
  font-size: 20px;
  font-weight: 600;
  color: #595959;
  position: relative;
}
.backLink::before {
  content: "";
  position: absolute;
  left: -25px;
  bottom: 3px;
  width: 21px;
  height: 21px;
  background-image: url("../../../public/arrow-left.svg");
}
.linkBlock {
  padding-top: 20px;
}
@media screen and (max-width: 1400px) {
  .container {
    width: 800px;
  }
  .section {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 350px;
  }
  .section {
    flex-wrap: wrap;
    justify-content: center;
  }
  .linkBlock {
    margin-left: 30px;
  }
  .backLink::before {
    background-image: url("../../../public/adapt-arrow.svg");
    width: 6px;
    height: 10px;
    left: -25px;
    bottom: 7px;
  }
}
